{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1>{{title}}</h1>
<p>Содержимое страницы о сайте
<form action="" method="post">
{% csrf_token %}
    <button type="submit">submit</button>

    <table class="table">
       {% for item in driverModel_all %}
       <tr>
         <td class="table-success">{{ item.id }} </td>
         <td class="table-success">{{ item.car_num }}</td>
         <td class="table-success">
            <div class="form-check">
                <input type="checkbox" value = {{ item.car_num }} id={{ item.car_num }} name = selected_car_nums>
            </div>
         </td>
       </tr>
       {% endfor %}
    </table>

</form>


</body>
</html>